* {
    margin: 0;
}
body {
    max-width: 1200px;
    margin: 0 auto;
}
header{
    margin: 0 auto;
    width: 1200px;
    background: #ffffff;
    z-index: 1;
    position: fixed;
}
.logo{
    height: 70px;
    background: #ffffff;
    margin: 10px 40px 0px 20px;
}
.social_networks{
    margin: -50px 0px 20px 200px;
}
.social_networks img{
   width: 40px;
   height: 40px;
   margin-right: 10px;
}
 

.navbar-default .navbar-nav > ul {
    width:100%;
    background: none; 
    border: none;
}


.navbar-default .navbar-nav > li {
    display: inline;
    font-family:"Open Sans",Helvetica,Arial,sans-serif;
    font-size: 1.4em;
    border: none;
    margin: 0px 0px 0px 100px;
}
.navbar-default .navbar-nav > li > a {
    color:#000000;
    text-decoration: none;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #A6C550;
}






#wel{
    margin: 40px 0px 0px 0px;
}
.blox{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
}
.text_wel{
    width:50%;
    float: left;
    text-align: center;
    padding: 60px 80px 60px 80px;
    
}
.anagraph{
    width:100%;
    height: 600px;
    padding: 40px 100px 0px 100px;
    text-align: center;
    background: #F3F3F3;
}
.caption {
    font-family: "Sofia";
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;    
}
.blox2 h2{
    color: #A6C550;
}
.nutrition{
    width:300px;
    height: 300px;
    float: left;
    background: #ffffff;
    padding: 55px 25px 25px 25px;
    margin: 40px 0px 10px 30px ;
}
.exercise {
    width:300px;
    height: 300px;
    float: left;
    background: #ffffff;
    padding: 55px 25px 25px 25px;
    margin: 40px 0px 10px 30px;
}
.routine{
    width:300px;
    height: 300px;
    float: left;
    background: #ffffff;
    padding: 55px 25px 25px 25px;
    margin: 40px 10px 10px 30px;   
}
#success{
   width:100%; 
   margin: 40px 0px 0px 0px;
   padding: 55px 25px 25px 25px;
}
.success_content{
    padding: 40px 0px 25px 0px;
    margin-bottom: 100px;
}
.success_text{
    margin: -40px 0px 25px 0px;
}
.success_text h2{
    color: #A6C550;  
}
.success_text p{
    color: #B0B0B0;
}
.success_remark{
    padding: 0px 120px 25px 0px;
}
.success_remark img {
    float: left;
}
.success_remark p{
    width: 400px;
    float: right;
    font-size: 14px;
}
.imege{
    width:50%;
    float: left;
}
.news{
    padding: 100px 0px 25px 0px;
}
.news_imege{
    padding-top: 20px;
}
.news_imege img{
    margin-left: 20px;
}
 
.contact_text{
    width:100%;
    padding: 40px 100px 0px 100px;
    text-align: center;  
}
.contact_text p{
    width: 400px;
    color: #B0B0B0;
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
}
.contact_form{
    width: 400px;
    margin: 0 auto;
}
.contact_text h2{
    padding: 0px 0px 40px 0px;
}

input[type=text]:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #A6C550;
}
input[type=email]:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #A6C550;
}
input[type=tel]:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #A6C550;
}
input[type=textarea]:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #A6C550;
}

#client-first{
    margin: 0px 0px 10px 0px;
    
}
#client-last{
    margin: 0px 0px 10px 10px;
}
#client-email{
    margin: 0px 0px 10px 0px;
}
#client-phone{
    margin: 0px 0px 10px 10px;
}
#message{
   width: 400px;
   padding: 5px;
   margin-bottom: 20px;
}
#btn-submit{
    float: right;
    background:#A6C550;
    color: #ffffff;
    padding: 5px;
    border-radius: 50px;
}
footer{
    margin-top: 100px;
    background:#A6C550;
    padding: 40px;
}
.info{
    width: 400px;
    color: #ffffff;
    float: left;
}
.map{
    width:700px;
    height:300px;
    margin: 0 auto;
    overflow:hidden;
}
#gmap_canvas img{
    max-width:none!important;
    background:none!important;
}
#gmap_canvas{
    width:700px;
    height:440px;
} 
.socials{
   margin-top: 55px;
}
.socials img{
   width:70px;
   height:70px; 
   margin-right: 15px;
}