* {
    margin: 0;
}
body {
    max-width: 1200px;
    margin: 0 auto;
}
header{
    margin: 0 auto;
    width: 100%;
    background: #ffffff;
    z-index: 1;
    position: fixed;
}
.logo{
    width: 400;
    height: 100px;
    margin: 0px 40px 0px 20px;
}
.social_networks{
    margin: -50px 0px 20px 200px;
}

.collapse {
    background:#ffffff;
}
.navbar-default .navbar-nav > ul {
    width:100%;
}


.navbar-default .navbar-nav > li {
    display: inline;
    color: #A6C550;
    font-family:"Open Sans",Helvetica,Arial,sans-serif;
    font-size: 1.4em;
    margin: 0px 0px 0px 100px;
}
.navbar-default .navbar-nav > li > a {
    color:#000000;
    text-decoration: none;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #A6C550;
}

#wel{
    margin: 40px 0px 0px 0px;
}
.blox{
    width: 100%;
    padding: 15px;
}
.text_wel{
    width:50%;
    float: left;
    text-align: center;
    padding: 60px 80px 60px 80px;
    
}
.anagraph{
    width:100%;
    height: 600px;
    padding: 40px 100px 0px 100px;
    text-align: center;
    background: #F3F3F3;
}
.caption {
    font-family: "Sofia";
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;    
}
.blox2 h2{
    color: #A6C550;
}
.nutrition{
    width:300px;
    height: 300px;
    float: left;
    background: #ffffff;
    padding: 55px 25px 25px 25px;
    margin: 40px 0px 10px 30px ;
}
.exercise {
    width:300px;
    height: 300px;
    float: left;
    background: #ffffff;
    padding: 55px 25px 25px 25px;
    margin: 40px 0px 10px 30px;
}
.routine{
    width:300px;
    height: 300px;
    float: left;
    background: #ffffff;
    padding: 55px 25px 25px 25px;
    margin: 40px 10px 10px 30px;   
}
#success{
   width:100%; 
   margin: 40px 0px 0px 0px;
   padding: 55px 25px 25px 25px;
}
.success_content{
    padding: 40px 0px 25px 0px;
    margin-bottom: 100px;
}
.success_text{
    margin: -40px 0px 25px 0px;
}
.success_text h2{
    color: #A6C550;  
}
.success_text p{
    color: #B0B0B0;
}
.success_remark{
    padding: 0px 120px 25px 0px;
}
.success_remark img {
    float: left;
}
.success_remark p{
    width: 400px;
    float: right;
    font-size: 14px;
}
.imege{
    width:50%;
    float: left;
}
.news{
    padding: 100px 0px 25px 0px;
}
.news_imege{
    padding-top: 20px;
}
.news_imege img{
    margin-left: 20px;
}
 
.contact_text{
    width:100%;
    padding: 40px 100px 0px 100px;
    text-align: center;  
}
.contact_text p{
    width: 400px;
    color: #B0B0B0;
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
}
.contact_form{
    width: 400px;
    background:red;
    margin: 0 auto;
}
#message{
   width: 400px;
   padding: 5px;
}


footer{
    background:#A6C550;
}
