header{
    width: 1200px;
    height: 300px;
}
.logo{
    float: left;
}
.social_networks{
    width: 500;
   
}
.categories{
    width: 100%; 
} 
h2{
    text-align: center;
}
footer{
    background:#F3F3F3;
}
